<div style="display: flex; justify-content: center; align-items: flex-start; height: 100vh; padding-top: 150px;">

    <div class="container">
    <h2 class="recipe-title">AI Recipe Generator</h2>

    <form [formGroup]="recipeForm" (ngSubmit)="generateRecipe()">
      <div class="form-group">
        <mat-form-field appearance="fill" class="wide-input">
          <mat-label>Select Ingredients</mat-label>
          <input matInput [formControl]="ingredientCtrl" [matAutocomplete]="auto"  (keydown.enter)="onEnter($event)">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayIngredient" (optionSelected)="onIngredientSelected($event)">
            <mat-option *ngFor="let ingredient of filteredIngredients | async" [value]="ingredient">
              {{ ingredient }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

    <mat-chip-set
    class="multi-line-chips"
    cdkDropList 
    cdkDropListOrientation="horizontal">
    <mat-chip
      class="example-box"
      cdkDrag
      *ngFor="let ingredient of selectedIngredients"
      (removed)="removeIngredient(ingredient)"
      >
      {{ingredient}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
  </mat-chip-set>


      <div class="form-group temperature">
        
        <label class="centered-label">Select Temperature:</label>
        

        <mat-chip-listbox formControlName="temperature" >
        <mat-chip-option *ngFor="let option of temperatureOptions" 
          [value]="option" class="equal-width" 
              [style.background-color]="getTemperatureColor(option)" 
          >
            {{ option }}
            </mat-chip-option>
        
      </mat-chip-listbox>

      </div>

      <div class="button-container">
        <button mat-fab extended color="primary" type="submit" [disabled]="!recipeForm.valid" class="button-gen">
          <mat-icon>restaurant</mat-icon>
          Generate Recipe
        </button>
      </div>

      <!-- <button type="submit" class="btn btn-primary" [disabled]="!recipeForm.valid">Generate Recipe</button> -->
   
    </form>
  
 <!-- Muestra el MatProgressSpinner cuando isLoading es verdadero -->
 <div class="spinner-container">
  <mat-spinner *ngIf="isLoading" [diameter]="50" mode="indeterminate" color="primary"  ></mat-spinner> 
 </div>

    <mat-card class="recipe-card">
      <mat-card-header>
        <mat-card-title></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <p>{{ generatedRecipe }}</p> -->
        <mat-card-content>
          <p>Ingredients:</p>
          <ul>
            <li *ngFor="let ingredient of selectedIngredients">{{ ingredient }}</li>
          </ul>
          <h3>Steps:</h3>
          <ol>
            <li *ngFor="let step of getRecipeSteps(generatedRecipe)">{{ step }}</li>
          </ol>
        </mat-card-content>
        

      </mat-card-content>
    </mat-card>
    


    </div>
  </div>
