<h2 class="custom-dialog-title" mat-dialog-title>Configuración</h2>
<mat-icon class="close-button" (click)="closeDialog()">close</mat-icon>

<div mat-dialog-content>
    <mat-slide-toggle [(ngModel)]="useMarianModel" class="toggle-label">Usar modelo Marian de traducción</mat-slide-toggle>
    <p class="description-text">Utiliza el modelo de traducción Marian para traducir los ingredientes.</p>
  
    <mat-slide-toggle [(ngModel)]="useAWS" class="toggle-label">Usar AWS</mat-slide-toggle>
    <p class="description-text">Activa o desactiva la integración con Amazon Web Services.</p>
  </div>
  <div mat-dialog-actions class="center-button">
    <button mat-button (click)="saveSettings()" cdkFocusInitial class="save-button">Guardar</button>
  </div>