
<div>
  <mat-form-field>
    <mat-label>{{ translations[isSpanishMode ? 'es' : 'en'].selectIngredients }}</mat-label>
    <input matInput type="text" placeholder="" #text aria-label="Number" 
    [formControl]="searchText" matInput [matAutocomplete]="auto"  (keydown.enter)="onEnterPressed($event)">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith" showPanel="true" 
    (optionSelected)="addSelectedIngredient($event)"  (optionsScroll)="onScroll()">
      <ng-container *ngIf="(filteredLookups$ | async)?.ingredientes as ingredientes">
        <mat-option *ngFor="let option of ingredientes" [value]="option">
          {{ isSpanishMode?  option.T_Marian : option.Ingrediente }}
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</div>