/* .ingredients-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  h2 {
    font-size: 24px;
  }
  
  .search-container {
    margin-top: 20px;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .ingredient-list {
    margin-top: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    font-size: 16px;
    margin-bottom: 5px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  li:hover {
    color: #007bff;
  }
   */

   /* Estilo para el contenedor de autocompletado */
/* Estilo para el campo de entrada */
.mat-form-field {
  width: 100%;  /* Ancho completo */
  display:block;
}

/* Sobrescribe el estilo para el campo de entrada */
.mat-mdc-form-field {
  display: block !important;  /* Cambia a display: block */
}
/* Estilo para el panel de autocompletado */
.mat-autocomplete-panel {
  width: 100% !important;  /* Ancho completo */
}

